body{
	text-align:center;
	
}
#more{
	
	
	border:1px solid #000;

	width:70%;
	height:1000px;
	float:left;
	margin-top:50px;
	margin-left:15%;
	
}
.upload{
	float:left;
	width:90%;
	margin-left:4%;
	margin-bottom:2%;
	text-align:right;
}
.btn{
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	text-align:center; 
	font-weight:400;
	white-space:nowrap;
	vertical-align: middle;
	*zoom:1;
	-webkit-transition:background-color .1s linear;
	-moz-transition:background-color .1s linear;
	-o-transition:background-color .1s linear;
	transition:background-color .1s linear
}
a.btn:hover,a.btn:focus,a.btn:active,a.btn.active{
	text-decoration:none
}
.btn:active,.btn.active{
	background-color:#ccc
}
.btn:first-child{
	*margin-left:0
}
.btn.active,.btn:active{
	-moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;
	-webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset; 
	box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset
}
.btn-upload{
	color:#fff;
	background-color:#5eb95e; 
	border-color:#5eb95e
}
.btn-upload:hover,.btn-upload:focus,.btn-upload:active,.btn-upload.active{
	color:#fff;
	background-color:#429842;
	border-color:#429842
}
.space_types{
	float:left;
	margin-left:5%;
	margin-bottom:2%;
	width:42%;
	position:relative;
	height:300px;
}
.space_types a{
	position:absolute; 
	top:0; width:100%; 
	height:100%;
 	z-index:100; 
 	left:0; 
 	display:block;
}
.space_types span{
	display:block;
	position:absolute; 
	bottom:90px;
	left:0;
	color:#FFF;
	width:100%; 
	z-index:10;
	height:100px; 
	line-height:100px; 
	background:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.5;
	opacity: 0.4;
}
.space_types:hover{
	cursor:pointer
} 
.space_types:hover a.now{
	cursor:pointer; 
	position:absolute; 
	top:0; width:100%; 
	height:100%;
 	z-index:100; 
 	left:0; 
 	display:block;
 }
.space_types:hover span{ 
	-moz-opacity:0.5;
	opacity: 0.6;
}